.notification-container {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #2090FF;
    color:white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    z-index: 999;
  }
  
  .notification-card {
    text-align: left;
  }
  
  .notification-title {
    margin: 0;
    font-size: 18px;
  }
  
  .cancel-button {
    background-color: #ff5555;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  

  